.white {
  color: $white;
}

.green-light {
  color: $green-light;
}
.green-dark {
  color: $green-dark;
}
.bg-grey-dark {
  background-color: $grey-dark;
}
.bg-grey-medium {
  background-color: $grey-medium;
}
.bg-grey-light {
  background-color: $grey-light;
}
.bg-grey-darker {
  background-color: $grey-darker;
}
.bg-grey-transparency {
  background-color: $grey-transparency;
}
.bg-white-transparency {
  background-color: $white-transparency;
}
