* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
}

html {
  width: 100vw;
}

body {
  background: rgb(140, 140, 140);
  -webkit-font-smoothing: antialiased;
}
body,
input,
button,
textarea {
  font-family: 'Roboto', sans-seriff;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 500;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
}
