* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
}
body {
  background: #bdbdbd;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button,
textarea {
  font-family: 'Roboto', sans-seriff;
  border: none;
}

main {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: bold;
  font-family: 'Roboto', sans-seriff;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
}
