section.slider {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
  background-color: $grey-dark;
  padding: 20px 10px;
  overflow: hidden;
}

.image-slider {
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;

  width: 82vw;

  @media (max-width: 900px) {
    width: 90vw;
    height: 90%;
    align-self: flex-start;
  }
}

.slider-wrapper {
  display: flex;
  position: absolute;

  transition: transform 0.7s ease-in 0.1s;

  .card {
    display: flex;
    flex: 1;
    width: 27.333333vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;

    @media (max-width: 900px) {
      width: 90vw;
      justify-content: flex-start;
    }

    img {
      min-height: 200px;
      width: 24.6vw;
      padding: 10px;
      background-color: #6e6e6e;
      object-fit: cover;
      @media (max-width: 900px) {
        width: 90vw;
        margin-bottom: 20px;
        max-height: 230px;
      }
    }

    h1 {
      font-weight: bold;
      font-size: 18px;
    }

    p {
      font-size: 16px;
      text-align: center;
      padding: 0 10px;
    }
  }
}

.btn-wrapper {
  display: flex;
  width: 100%;
  position: absolute;
  align-self: flex-start;
  margin-top: 150px;
  padding: 0 20px;
  justify-content: space-between;

  @media (max-width: 900px) {
    align-self: flex-end;
    margin: 0;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-around;
  }

  button {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    padding: 10px;
    background-color: transparent;
    border: none;

    transition: background-color 0.4s ease-out 0s;
    &:hover {
      cursor: pointer;
    }
    &:active {
      background-color: rgba(255, 255, 255, 0.2);
    }

    img {
      max-width: 100%;
    }
  }
}
