// Colors

$white: rgb(254, 254, 254);
$grey-darker: #343434;
$grey-dark: #464646;
$grey-medium: #6e6e6e;
$grey-light: #bdbdbd;
$green-dark: rgb(46, 60, 10);
$green-light: rgb(83, 96, 48);
$grey-transparency: rgba(#464646, 0.7);
$white-transparency: rgba(254, 254, 254, 0.2);
